.card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16rem;
    height: 24rem;
    background-color: white;
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    width: 60%;
    max-width: 400px;
}