#VULTR_OBJECT_STORAGE_HOSTNAME=ams1.vultrobjects.com
#VULTR_OBJECT_STORAGE_ACCESS_KEY=**********
#VULTR_OBJECT_STORAGE_SECRET_KEY=*********


VULTR_MONGODB_HOST=**.**.**.**
VULTR_MONGODB_PORT=27017
VULTR_MONGODB_USERNAME=****
VULTR_MONGODB_PASSWORD=****


VULTR_OBJECT_STORAGE_HOSTNAME=ams1.vultrobjects.com
VULTR_OBJECT_STORAGE_ACCESS_KEY=Y0T9KNB8Q2O5SV6YDOBU
VULTR_OBJECT_STORAGE_SECRET_KEY=yoi6XFfs1CVQ8NBdmXMSwKQ1jCgiZKPRAPIEV3JC