.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 160px);
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loadingContainer {
    animation: pulse 2s infinite;
    color: black;
}

@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.chatContainer {
    flex: 1;
    overflow-y: auto;
    padding-left: 1rem; /* px-4 */
    padding-right: 1rem; /* px-4 */
    padding-bottom: 1rem; /* pb-4 */
    color: black;
}