.mealSuggestion {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 20px;
  gap: 1rem;
}

.menuCard {
  max-height: 150;
  max-width: 150;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}