.mealSuggestion {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 20px;
  margin-bottom: 120px; /* Adjusted margifn-bottom to prevent overlap with footer */
}

.menuInstruction {
  text-align: center;
  color: #333;
}

.menuCards {
  display: flex;
  /* flex-direction: row; */
  padding: 20px;
  gap: 10px;
  overflow-x: visible;
  overflow-y: visible;
  max-height: 250;
}

.menuCard {
  max-height: 250;
  max-width: 150;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.clearMenu {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: darkgray
}