.heroCarousel {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 200px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.heroImage {
    object-fit: cover;
    filter: brightness(70%);
  }

.heroVideo {
    object-fit: cover;
    filter: brightness(70%);
  }

.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}
  